<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrator</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="bootstrap-icons/font/bootstrap-icons.min.css">
    <style>
        .sec-navbar{
          height: 100vh;
        }
        body {
          overflow: hidden;
        }
        .data-mahasiswa {
          max-height: 100vh;
          overflow-y: visible;
        }
        .data-mahasiswa .container {
          overflow-y: auto;
          max-height: calc(100vh - 200px);
        }
    </style>
</head>
<body>
    <nav class="navbar bg-dark row">
        <div class="container-fluid">
          <span class="navbar-brand mb-3 ms-5 h1 text-white">ABSEN ANAK MAGANG</span>
        </div>
    </nav>
    <div class="row">
        <nav class="col-md-4 nav flex-column bg-dark w-25 sec-navbar">
            <h3 class="ms-5 mb-3 text-white bi-person-circle">   <%= username %></h3>
            <a class="nav-link bi-house-door-fill ms-5" href="dashboard">    Beranda</a>
            <a class="nav-link bi-people-fill ms-5" href="data-mhs">    Data Mahasiswa</a>
            <a class="nav-link bi-calendar-fill ms-5" href="data-absen">  Data Absensi</a>
            <a class="nav-link bi-book-fill ms-5" href="data-kegiatan"> Data Kegiatan</a>
            <a class="nav-link bi-person-fill ms-5" href="administrator"> Administrator</a>
            <a class="nav-link bi-gear-fill ms-5" href="pengaturan"> Pengaturan</a>
            <a class="nav-link bi-box-arrow-left ms-5" href="/"> Logout</a>
        </nav>

        <div class="col-md-10 bg-body-secondary w-75 data-mahasiswa">
            <p class="p-3 bi-person-fill">  /   Administrator</p>

            <div class="container">
              <h3>ADMINISTRATOR</h3>
              <a class="btn btn-success bi-plus mb-3" href="/tambah-admin"> Tambah</a>
              <table class="table">
                  <thead>
                      <tr>
                        <th scope="col">No</th>
                        <th scope="col">Nama</th>
                        <th scope="col">NIP</th>
                        <th scope="col">Email</th>
                        <th scope="col">Aksi</th>
                      </tr>
                  </thead>
                  <tbody>
                    <% for (let admins of admin) { %>
                      <tr>
                          <th scope="row"><%= admins.id %></th>
                          <th scope="row"><%= admins.nama %></th>
                          <th scope="row"><%= admins.nip %></th>
                          <th scope="row"><%= admins.email %></th>
                          <th scope="row">
                            <a href="/akun-admin/<%= admins.id %>" class="btn btn-primary bi-person-fill"></a>
                            <a href="/edit-admin/<%= admins.id %>" class="btn btn-warning edit bi-pencil-square"></a>
                            <a href="/delete-admin/<%= admins.id %>" class="btn btn-danger bi-trash-fill" onclick="return confirm('Are you sure you want to delete this admin?')"></a>
                      </tr>
                    <% } %>
                  </tbody>
              </table>
            </div>

        </div>
    </div>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>