<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kegiatan Harian</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="bootstrap-icons/font/bootstrap-icons.min.css">
    <style>
        .sec-navbar{
            height: 100vh;
        }
        body {
            overflow-x: hidden;
        }
    </style>
</head>
<body>
    <nav class="navbar bg-dark row">
        <div class="container-fluid">
          <span class="navbar-brand mb-3 ms-5 h1 text-white">ABSEN ANAK MAGANG</span>
        </div>
    </nav>
    <div class="row">
        <nav class="col-md-4 nav flex-column bg-dark w-25 sec-navbar">
            <h3 class="ms-5 mb-3 text-white bi-person-circle">   <%= username %></h3>
            <a class="nav-link bi-house-door-fill ms-5" href="mahasiswa">    Beranda</a>
            <a class="nav-link bi-calendar-fill ms-5" href="absensi">    Absensi</a>
            <a class="nav-link bi-arrow-counterclockwise ms-5" href="riwayat-absen">  Riwayat Absensi</a>
            <a class="nav-link bi-book-fill ms-5" href="kegiatan"> Kegiatan Harian</a>
            <a class="nav-link bi-person-fill ms-5" href="profil"> Profil</a>
            <a class="nav-link bi-box-arrow-left ms-5" href="/"> Logout</a>
        </nav>
        <div class="col-md-10 bg-body-secondary w-75">
            <p class="p-3 bi-book-fill">  /   Kegiatan Harian</p>
            <div class="card">
                <div class="card-header p-3 d-flex align-items-center justify-content-between">
                    <h5>Kegiatan Harian</h5>
                    <div class="input-group w-50">
                      <input type="text" class="form-control" placeholder="Cari">
                      <div class="input-group-prepend">
                        <button class="btn btn-outline-secondary bi-search" type="button"></button>
                      </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <a class="btn btn-success bi-plus mb-3 mt-3" href="/tambah-kegiatan-mhs"> Tambah</a>
                <a class="btn btn-primary bi-file-text-fill mb-3 mt-3" href=""> Cetak</a>
                <table class="table table-responsive">
                    <thead>
                        <tr>
                          <th scope="col">No</th>
                          <th scope="col">Hari</th>
                          <th scope="col">Tanggal</th>
                          <th scope="col">Jam</th>
                          <th scope="col">Kegiatan</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% let index = 1; %>
                        <% for (let kegiatann of kegiatan) { %>
                        <tr>
                            <th scope="row"><%= index++ %></th>
                            <th scope="row"><%= kegiatann.hari %></th>
                            <th scope="row"><%= moment(kegiatann.tanggal).format('DD-MM-YYYY') %></th>
                            <th scope="row">
                                <% const jam = kegiatann.jam.split(', '); %>
                                <% for (let i = 0; i < jam.length; i++) { %>
                                    <%= jam[i] %><br>
                                <% } %>
                            </th>
                            <th scope="row">
                                <% const kegiatan = kegiatann.kegiatan.split(', '); %>
                                <% for (let i = 0; i < kegiatan.length; i++) { %>
                                    <%= i + 1 %>. <%= kegiatan[i] %><br>
                                <% } %>
                            </th>
                        </tr>
                        <% increment = kegiatan.length; %>
                        <% } %>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>