<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="bootstrap-icons/font/bootstrap-icons.min.css">
    <style>
        .sec-navbar{
            height: 100vh;
        }
        body {
            overflow-x: hidden;
        }
    </style>
</head>
<body>
    <nav class="navbar bg-dark row">
        <div class="container-fluid">
          <span class="navbar-brand mb-3 ms-5 h1 text-white">ABSEN ANAK MAGANG</span>
        </div>
    </nav>
    <div class="row">
        <nav class="col-md-4 nav flex-column bg-dark w-25 sec-navbar">
            <h3 class="ms-5 mb-3 text-white bi-person-circle">   <%= username %></h3>
            <a class="nav-link bi-house-door-fill ms-5" href="mahasiswa">    Beranda</a>
            <a class="nav-link bi-calendar-fill ms-5" href="absensi">    Absensi</a>
            <a class="nav-link bi-arrow-counterclockwise ms-5" href="riwayat-absen">  Riwayat Absensi</a>
            <a class="nav-link bi-book-fill ms-5" href="kegiatan"> Kegiatan Harian</a>
            <a class="nav-link bi-person-fill ms-5" href="profil"> Profil</a>
            <a class="nav-link bi-box-arrow-left ms-5" href="/"> Logout</a>
        </nav>

        <div class="col-md-10 bg-body-secondary w-75">
            <p class="p-3 bi-person-fill">  /   Profil</p>
            <div class="card">
                <h5 class="card-header p-3">Absensi</h5>
                <div class="card-body mt-3">
                    <table class="table">
                        <tbody>
                          <tr>
                            <th scope="row">Nama Mahasiswa</th>
                            <td>:<%= userData.nama %></td>
                          </tr>
                          <tr>
                            <th scope="row">Universitas</th>
                            <td>:   <%= userData.univ %></td>
                          </tr>
                          <tr>
                            <th scope="row">Jurusan</th>
                            <td>:   <%= userData.jurusan %></td>
                          </tr>
                          <tr>
                            <th scope="row">Nomor Induk Mahasiswa</th>
                            <td>:   <%= userData.nim %></td>
                          </tr>
                          <tr>
                            <th scope="row">Tanggal Masuk</th>
                            <td>:   <%= moment(userData.mulai).format("DD/MM/YYYY") %></td>
                          </tr>
                          <tr>
                            <th scope="row">Tanggal Selesai</th>
                            <td>:   <%= moment(userData.akhir).format("DD/MM/YYYY") %></td>
                          </tr>
                          <tr>
                            <th scope="row">Email</th>
                            <td>:   <%= userData.email %></td>
                          </tr>
                          <tr>
                            <th scope="row">No Telp</th>
                            <td>:   <%= userData.telepon %></td>
                          </tr>
                          <tr>
                            <th scope="row">Alamat</th>
                            <td>:   <%= userData.alamat %></td>
                          </tr>
                          <tr>
                            <th scope="row">Foto</th>
                            <td>:   <img src="/gambar/<%= userData.id %>" width="100" height="100"></td>
                          </tr>
                        </tbody>
                      </table>
                      <a href="/ubah-password" class="btn btn-primary bi-key-fill"> Ubah Password</a>
                </div>
            </div>

        </div>
    </div>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>