<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Riwayat Absen</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="bootstrap-icons/font/bootstrap-icons.min.css">
    <style>
        .sec-navbar{
            height: 100vh;
        }
        body {
            overflow-x: hidden;
        }
    </style>
</head>
<body>
    <nav class="navbar bg-dark row">
        <div class="container-fluid">
          <span class="navbar-brand mb-3 ms-5 h1 text-white">ABSEN ANAK MAGANG</span>
        </div>
    </nav>
    <div class="row">
        <nav class="col-md-4 nav flex-column bg-dark w-25 sec-navbar">
            <h3 class="ms-5 mb-3 text-white bi-person-circle">   <%= username %></h3>
            <a class="nav-link bi-house-door-fill ms-5" href="mahasiswa">    Beranda</a>
            <a class="nav-link bi-calendar-fill ms-5" href="absensi">    Absensi</a>
            <a class="nav-link bi-arrow-counterclockwise ms-5" href="riwayat-absen">  Riwayat Absensi</a>
            <a class="nav-link bi-book-fill ms-5" href="kegiatan"> Kegiatan Harian</a>
            <a class="nav-link bi-person-fill ms-5" href="profil"> Profil</a>
            <a class="nav-link bi-box-arrow-left ms-5" href="/"> Logout</a>
        </nav>
        <div class="col-md-10 bg-body-secondary w-75">
            <p class="p-3 bi-arrow-counterclockwise">  /   Riwayat Absensi</p>
            <div class="card">
                <div class="card-header p-3 d-flex align-items-center justify-content-between">
                    <h5>Riwayat Absensi</h5>
                    <div class="input-group w-50">
                      <input type="text" class="form-control" placeholder="Cari">
                      <div class="input-group-prepend">
                        <button class="btn btn-outline-secondary bi-search" type="button"></button>
                      </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <a class="btn btn-primary bi-file-text-fill mb-3 mt-3" href=""> Cetak</a>
                <table class="table">
                    <thead>
                        <tr>
                          <th scope="col">No</th>
                          <th scope="col">Hari</th>
                          <th scope="col">Tanggal</th>
                          <th scope="col">Waktu</th>
                          <th scope="col">Kehadiran</th>
                          <th scope="col">Keterangan</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% absensi.forEach((item, index) => { %>
                            <tr>
                                <th scope="row"><%= index + 1 %></th>
                                <td><%= item.hari %></td>
                                <td><%= moment(item.tanggal).format('DD-MM-YYYY') %></td>
                                <td><%= item.waktu %></td>
                                <td><%= item.status %></td>
                                <td><%= item.keterangan || 'Tidak ada' %></td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>